<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - JBE Admin</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" ></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" ></script>
        <script>
        const labels = document.querySelectorAll('.mylabel');

        labels.forEach(label => {
            label.addEventListener('click', scrollToTarget);
        });

        function scrollToTarget(event) {
            event.preventDefault();

            const targetId = this.getAttribute('href').substring(1);
            const targetElement = document.getElementById(targetId);

            if (targetElement) {
                const offsetTop = targetElement.offsetTop;

                window.scrollTo({
                    top: offsetTop,
                    behavior: 'smooth'
                });
            }
        }
        $(document).ready(function () {
        	const options = {
        		    searchable: true
        		  };
        	const table1 = new simpleDatatables.DataTable('#contactTable',options);
        	const table2 = new simpleDatatables.DataTable('#groupTable',options);
            
        });
    	</script>
        <style>
        /* CSS styles for the labels */
        .mylabel {
            display: block;
            margin-bottom: 10px;
            cursor: pointer;
        }

        /* CSS styles for the target elements */
        .mytarget {
            margin-top: 500px;
            padding: 20px;
            background-color: #f5f5f5;
        }
     		.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
        </style>
    </head>
    <body class="sb-nav-fixed" >
     <script>
    function scrollToElement(elementId) {
      const element = document.getElementById(elementId);
      if (element) {
        element.scrollIntoView({ behavior: 'smooth' });
      }
    }
  </script>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" th:href="@{/}">developped by JBE</a>
            <a class="navbar-brand ps-3 mylabel" href="#contactTable">Contacts List</a>
            <a class="navbar-brand ps-3 mylabel" href="#groupTable">Groups List</a>
            <!-- Sidebar Toggle-->
            <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
            <!-- Navbar Search-->
            <form  th:action="@{/search}" method="POST" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group" >
                    <input  id="searchInput" name="searchInput" class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
<!--             <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul> -->
        </nav>
        <div id="layoutSidenav" >
            <div id="layoutSidenav_content" >
                <main>
                    <div class="container-fluid px-4" >
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">You have <strong><span th:text="${contact_number}"></span></strong> Contacts</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/createContact}">Create a new Contact</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">You have <strong><span th:text="${group_number}"></span></strong> Groups</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" th:href="@{/createGroup}">Create a new Group</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        <div class="card mb-4" style="border:3px solid black;background-color: #0011">
                            <div class="card-header" style="color:white;background-color: #009879">
                                <i class="fas fa-table me-1"></i>
                                List Of All Contacts
                            </div>
                            <div class="card-body">
                                <table id="contactTable" class="styled-table mytarget">
                                    <thead>
                                        <tr>
                                            <th>Contact Name</th>
                                            <th>Second Name</th>
                                            <th>Number of Groups</th>
                                            <th>Phone Number 1</th>
                                            <th>Phone Numbre 2</th>
                                            <th>Adress</th>
                                            <th>Personal Email</th>
                                            <th>Professional Email</th>
                                            <th>Gender</th>
                                            <th>remove</th>
                                            <th>modify</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Second Name</th>
                                            <th>Number of Groups</th>
                                            <th>Phone Number 1</th>
                                            <th>Phone Numbre 2</th>
                                            <th>Adress</th>
                                            <th>Personal Email</th>
                                            <th>Professional Email</th>
                                            <th>Gender</th>
                                            <th>remove</th>
                                            <th>modify</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    		<tr th:each="contact : ${contacts}">
                                    			<td th:text="${contact.nom}"></td>
                                            	<td th:text="${contact.prenom}"></td>
                                            	<td th:text="${contact.getGroups().size()}"></td>
                                            	<td th:text="${contact.telephone1}"></td>
                                            	<td th:text="${contact.telephone2}"></td>
                                            	<td th:text="${contact.adress}"></td>
                                            	<td th:text="${contact.emailpresonel}"></td>
                                            	<td th:text="${contact.emailprofessional}"></td>
                                            	<td th:text="${contact.gender}"></td>
            									<td>
													<form th:action="@{/delete}" method="POST">
        												<input type="hidden" name="id" th:value="${contact.id}" />
        												
        												<button type="submit" style="color:white;border:thin white;"><i class="fa-solid fa-user-xmark fa-beat fa-lg" style="color: red;"></i></button>
    												</form>
        										</td>
        										<td>
													<form th:action="@{/home}" method="POST">
        												<input type="hidden" name="id" th:value="${contact.id}" />
        												<button type="submit" style="color:white;border:thin white;"><i class="fa-solid fa-wrench fa-lg" style="color: #000000;"></i></button>
    												</form>
        										</td>
        									</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </main>
                <main>
                    <div class="container-fluid px-4" >
                        <div class="row" >
                        <div class="card mb-4" style="border:3px solid black;background-color: #0011">
                            <div class="card-header" style="color:white;background-color: #009879; ">
                                <i class="fas fa-table me-1"></i>
                                List Of All Groups
                            </div>
                            <div class="card-body" >
                                <table id="groupTable" class="styled-table mytarget" >
                                    <thead>
                                        <tr>
                                            <th>Group Name</th>
                                            <th>Number of Contacts</th>
                                            <th>remove</th>
                                            <th>modify</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Group Name</th>
                                            <th>Number of Contacts</th>
                                            <th>remove</th>
                                            <th>modify</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    		<tr th:each="group : ${groups}">
                                    			<td th:text="${group.nom}"></td>
                                            	<td th:text="${group.getContacts().size()}">
            									<td>
													<form th:action="@{/deleteGroup}" method="POST">
        												<input type="hidden" name="id" th:value="${group.id}" />
        												
        												<button type="submit" style="color:white;border:thin white;"><i class="fa-solid fa-user-xmark fa-beat fa-lg" style="color: red;"></i></button>
    												</form>
        										</td>
        										<td>
													<form th:action="@{/modifygroup}" method="POST">
        												<input type="hidden" name="id" th:value="${group.id}" />
        												<button type="submit" style="color:white;border:thin white;"><i class="fa-solid fa-wrench fa-lg" style="color: #000000;"></i></button>
    												</form>
        										</td>
        									</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Contacts Management 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
<!--         <script th:inline="javascript">
        /*<![CDATA[*/
        	var name = /*[[${user}]]*/ ''; 
        /*]]>*/
        console.log(name);
        $('#searchInput').on('keyup',function(){
        	var searchReg = $(this).val();
        	console.log('you entered'+searchReg);
        });
        </script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
