<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - JBE Admin</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
  			$(document).ready(function() {
    		$(".connectedSortable").sortable({
      		connectWith: ".connectedSortable",
      		cursor: "move",
      		placeholder: "group-placeholder",
     		forcePlaceholderSize: true,
     		update: function(event, ui) {
        // Update the hidden input field with the new group order
        updateGroupOrder();
      }
    }).disableSelection();

    function updateGroupOrder() {
      var selectedGroups = $("#selectedGroups li").map(function() {
        return $(this).attr("th:value");
      }).get();
      $("#selectedGroupsOrder").val(selectedGroups);
    }

    // Submit the form when the "Save" button is clicked
    $("form").submit(function() {
      // Update the group order before submitting
      updateGroupOrder();
    });
  });
</script>
<style>
.group-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height: 100px;
	border: 1px solid #ccc;
	padding: 10px;
}

.group-list li {
	padding: 5px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	border: 1px solid #333;
}

.group-placeholder {
	background-color: #e5e5e5;
	border: 1px dashed #999;
	height: 30px;
}
</style>
</head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" th:href="@{/}">developped by JBE</a>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Group Modification</h1>
                        <ol class="breadcrumb mb-4">
                            
                        </ol>
                        <div class="row">
                        </div>
                        <div class="card mb-4"  style="border:3px solid black;background-color: #0011">
                            <div class="card-header" style="color:white;background-color: #009879">
                            	<i class="fa-solid fa-user-pen"></i>
                                Group Update
                            </div>
                            <div class="card-body">
                       				<h1>modify <span th:text="${group_modified.nom}"></span></h1>
									<div class="container">
        							<h2>Contact Form</h2>
        							<form th:action="@{/editgroup/{id}(id=${group_modified.id})}" th:object="${group_modified}" method="post" enctype="application/x-www-form-urlencoded">
            							<div id="groupId" hidden="true" th:value="*{id}"></div>
            							<div class="form-group">
                							<label for="firstName">Group Name:</label>
                							<input type="text" class="form-control" id="firstName" th:field="*{nom}">
            							</div>
            							<label>Contacts:</label>
            							<div class="flex-container" style="display: flex;">
            							
  											<div class="flex-child magenta" style="flex: 1;  border: 2px solid green;margin-right: 20px;">
    											<div class="form-group container">
    												<label for="contacts">Contacts that are members of the Group:</label>
    												<div class="groups-container containter">
      													<ul id="selectedContacts" class="group-list connectedSortable ">
        													<li th:each="contact : ${contactsIn}"  class="draggable" draggable="true">
        														<input type="checkbox" id="selectedContacts" th:value="${contact.id}"  th:checked="true" style="display: none;">
            													<label th:text="${contact.nom+' '+contact.prenom}" for="selectedContacts"></label>
          													</li>
      													</ul>
      												</div>
  												</div>
  												</div>
  												
  											<div class="flex-child green" style="flex: 1;  border: 2px solid red;margin-right: 20px;">
    											<div class="form-group container">
    												<label for="groups">Contacts that aren't members of the group</label>
    												<div class="groups-container container">
      													<ul   id="availableContacts" class="group-list connectedSortable" >
      														<li  th:each="contact: ${Noncontact}"  class="draggable" draggable="true">
      														 <input  id="availableContacts" type="checkbox"  th:value="${contact.id}" style="display: none;">
            												<label  th:text="${contact.nom+' '+contact.prenom}" for="availableContacts"></label>
            												</li>
      													</ul>
      												</div>
  												</div>
  											</div>
  										</div>
  									
            						<button type="submit"   class="btn btn-primary">Save</button>
        						</form>
    						</div>
    						<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    						<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Contacts Management 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="js/contacts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
